.App {
  text-align: center;
  height: 100vh;
}

.navbar {
  margin: 20px 0;
  &-title {
    text-decoration: none;
    margin-right: 3vh;
  }
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history {
  
  &-input {
    width: 40vh;
    padding: 5px;
    margin: 10px 0;
  }
}

.company {

  width: 95%;
  margin: 20px 0;

  &_title {
    margin-bottom: 0.6rem;
    display: flex;
    align-items: flex-end;
  }

  &_icon {
    margin: 0 10px;
    cursor: pointer;
  }

  &_symbol {
    font-size: 3.4rem;
    margin-right: 1.25rem;
    height: 3.4rem;
  }

  &_name {
    font-size: 1.25rem;
    line-height: 1.125rem;
  }

  &_price {
    &-common {
      &-little {
        font-size: 0.6rem;
      }
      &-big2 {
        font-size: 2rem;
      }
      display: flex;
    }

    &-date {
      margin-right: 1.5rem;
    }

    &-close {
      margin-right: 1.5rem;
    }

    &-change {
      margin-right: 1.5rem;
    }

    &-percent {
      margin-right: 1.5rem;
    }
  }

  &_stat {
    display: flex;
    margin: 10px 0;
    &-table{
      font-size: 0.8125rem;
      flex: 1;
    }

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }

  }

}

.graph {
  width: 95%;
  height: 300px;
  margin-bottom: 30px;
}

.fav {
  li:hover {
    background: red;
    cursor: pointer;
  }

  p {
    text-decoration: none;
  }
  
  ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}